.wrapper {
    border: solid 3px #088190;
    height: 200px;
    width: 200px;
}

.reaction {
    display: grid;
    grid-template-columns: repeat( 12, 1fr );
    grid-template-areas:
        "a l l f d d d d d q q q q"
        "a l l f d d d d d q q q q";
    justify-content: space-evenly;
}

.delete {
    grid-area: d;
    align-self: center;
    justify-self: center;
}

.likes {
    grid-area: l;
    align-self: center;
    justify-self: center;
}